<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>
                <table class="table  table-bordered">




                        <tbody>
                        <tr>
                            <td style="font-size: 28px;">总收益</td>
                            <td>可兑换原力数<br>{$user.gold}</td>
                            <td>可兑换虚拟货币<br>{$moneylist.fictitious_rmb}</td>
                            <td>可兑换原人民币<br>{$moneylist.rmb}</td>

                        </tr>
                        </tbody>

                </table>

                <br>

                <form class="form-horizontal" id="form" name="form" action="{:u('exchangeinfo')}" method="post">
                    <div class="input-group col-xs-5" style="margin-bottom: 20px;">

                        <input placeholder="起始时间" id="star" name="star" value="" data-date-format="dd-mm-yyyy" type="text">
    -
                        <input placeholder="结束时间" id="end" name="end" value="" data-date-format="dd-mm-yyyy" type="text">


                        &nbsp; &nbsp; &nbsp;<button class="btn btn-info submit" type="button">
                            <i class="icon-ok bigger-110"></i>
                            搜索</button>

                    </div>
                </form>

                <table class="table table-bordered">

                    <thead>
                    <tr>

                        <th>单号</th>
                        <th>扣除原力数</th>
                        <th>获得虚拟币/人民币</th>
                        <th>税金</th>
                        <th>处理时间</th>
                    </tr>
                    </thead>

                    <volist name="list" id="val">
                    <tbody>
                    <tr>
                        <td>{$val['order_sn']}</td>
                        <td>{$val['out_gold']}</td>
                        <td><?php if($val['type']==1){echo $val['fictitious_rmb'].'虚拟币';}else{echo $val['rmb'].'人民币';} ?></td>
                        <td></td>
                        <td>{$val['t']}</td>
                    </tr>
                    </tbody>
                    </volist>
                </table>
                {$page}
            </div><!-- /.page-content -->



        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<script src="__PUBLIC__/qwadmin/js/bootbox.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(".children").click(function () {
        $(this).parent().parent().parent().parent().find(".father").prop("checked", true);
    })
    $(".father").click(function () {
        if (this.checked) {
            $(this).parent().parent().parent().parent().find(".children").prop("checked", true);
        } else {
            $(this).parent().parent().parent().parent().find(".children").prop("checked", false);
        }
    })
    $(".submit").click(function () {
        var title = $("#title").val();
        if (title == '') {
            bootbox.dialog({
                message: "用户组名称不能为空。",
                buttons: {
                    "success": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
            return;
        }
        $('#form').submit();

    })
</script>
<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/qwadmin/js/function.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#star').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'cn'
        });
        $('#end').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'cn'
        });
    });
</script>
</body>
</html>
